build/
plugin/build/
*.log
*.pdb
*.zip
build-log.txt
imports/lastseed-decompiled/
src/scripts/_Seed_AliasFoodMonitor.psc
release-contents/Scripts/Source/_Seed_AliasFoodMonitor.psc
release-contents/Scripts/_Seed_AliasFoodMonitor.pex
